.mediaViewInfo {
	--web-view-name: GA-Home-Full-Hero;
	--web-view-id: GA_Home_Full_Hero;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: GA_Home_Full_Hero;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#GA_Home_Full_Hero {
	position: absolute;
	width: 1290px;
	height: 1457px;
	background-color: rgba(247,249,249,1);
	overflow: hidden;
	--web-view-name: GA-Home-Full-Hero;
	--web-view-id: GA_Home_Full_Hero;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
#Hero_Image {
	position: absolute;
	width: 1920px;
	height: 720px;
	left: -271px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 0.997;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#sannah_vinding_VZxmuCgRH3c_uns {
	opacity: 0.06;
	position: absolute;
	width: 960px;
	height: 720px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#sannah_vinding_VZxmuCgRH3c_uns_n {
	opacity: 0.06;
	position: absolute;
	width: 960px;
	height: 720px;
	left: 960px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_p {
	opacity: 0.082;
}
.Rectangle_2_p {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#Hero_Text {
	position: absolute;
	width: 425px;
	height: 265px;
	left: 468px;
	top: 228px;
	overflow: visible;
}
#Logo {
	position: absolute;
	width: 196px;
	height: 88px;
	left: 114px;
	top: 133px;
	overflow: visible;
}
#Antonica {
	position: absolute;
	width: 196px;
	height: 48px;
	left: 0px;
	top: 40px;
	overflow: visible;
}
#A {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#N {
	position: absolute;
	left: 26px;
	top: 0px;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#T {
	position: absolute;
	left: 56px;
	top: 0px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#O {
	position: absolute;
	left: 77px;
	top: 0px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#N_x {
	position: absolute;
	left: 104px;
	top: 0px;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#I {
	position: absolute;
	left: 134px;
	top: 0px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#C {
	position: absolute;
	left: 148px;
	top: 0px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#A_ {
	position: absolute;
	left: 172px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#Gabriel {
	position: absolute;
	width: 160px;
	height: 48px;
	left: 18px;
	top: 0px;
	overflow: visible;
}
#G {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#A_ba {
	position: absolute;
	left: 27px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#B {
	position: absolute;
	left: 53px;
	top: 0px;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#R {
	position: absolute;
	left: 78px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#I_ {
	position: absolute;
	left: 104px;
	top: 0px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#E {
	position: absolute;
	left: 118px;
	top: 0px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#L {
	position: absolute;
	left: 143px;
	top: 0px;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(247,249,249,1);
}
#Icon_5_way {
	position: absolute;
	width: 68px;
	height: 128px;
	left: 178px;
	top: 0px;
	overflow: visible;
}
#G_ba {
	position: absolute;
	left: 4px;
	top: 4px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 100px;
	color: rgba(247,249,249,1);
}
#G_bb {
	position: absolute;
	left: 8px;
	top: 8px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 100px;
	color: rgba(247,249,249,1);
}
#G_bc {
	position: absolute;
	left: 8px;
	top: 0px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 100px;
	color: rgba(247,249,249,1);
}
#G_bd {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 100px;
	color: rgba(247,249,249,1);
}
#G_be {
	position: absolute;
	left: 0px;
	top: 8px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 100px;
	color: rgba(247,249,249,1);
}
#Technical_Project_Manager___Ju {
	position: absolute;
	left: 0px;
	top: 241px;
	overflow: visible;
	width: 426px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(247,249,249,1);
}
#Nav_bar {
	position: absolute;
	width: 827px;
	height: 24px;
	left: 283px;
	top: 679px;
	overflow: visible;
}
#ABOUT {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(247,249,249,1);
	letter-spacing: 1px;
}
#PROJECTS {
	position: absolute;
	left: 543px;
	top: 0px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(247,249,249,1);
	letter-spacing: 1px;
}
#CONTACT {
	position: absolute;
	left: 737px;
	top: 0px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(247,249,249,1);
	letter-spacing: 1px;
}
#PROFFESIONAL_EXPERIENCE {
	position: absolute;
	left: 165px;
	top: 0px;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(247,249,249,1);
	letter-spacing: 1px;
}
#About_Content {
	position: absolute;
	width: 885px;
	height: 535px;
	left: 225px;
	top: 824px;
	overflow: visible;
}
#Dedicated_professional_with_ex {
	position: absolute;
	left: 240px;
	top: 70px;
	overflow: visible;
	width: 646px;
	height: 465px;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(110,131,135,1);
}
#About_Title {
	position: absolute;
	width: 139.612px;
	height: 48px;
	left: 253.388px;
	top: 0px;
	overflow: visible;
}
#About {
	position: absolute;
	left: 36.612px;
	top: 0px;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Alegreya Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(110,131,135,1);
	letter-spacing: 0.5px;
}
#Hint_logo {
	position: absolute;
	width: 24.173px;
	height: 18.184px;
	left: 0px;
	top: 15px;
	overflow: visible;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 24px;
	transform: translate(0px, 0px) matrix(1,0,0,1,13.0865,1.5922) rotate(67.5deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 24px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12,-3) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 24px;
	transform: translate(0px, 0px) matrix(1,0,0,1,13.0866,-7.4078) rotate(-67.5deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Headshot {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 0px;
	top: 11px;
	overflow: visible;
}